@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: omyu_pretty !important;
  font-size: 20px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body {
  animation: fade-in 0.5s;
}

:root {
  --border: #e3e1dc;
  --max-width: 1100px;
  --max-content-width: 1000px;
  --body-background: #fcfcfc;
  --site-header-background: rgba(255, 255, 255, 0.76);
  --navbar: #2f2c28;
  --site-footer: #bcb9b0;
  --site-footer-background: #2f2c28;
  --account-link: #ffcc00;
  --content-list-contet-date: #bcb9b0;
  --main-header-background: #fff;
  --main-header-height: 565px;
  --main-header-border: #f0efec;
  --main-header: #fff;
  --content-list-sub-heading: #7b776b;
  --content-list-pagination-current: #fff;
  --content-list-pagination-current-bg: #ffcc00;
  --review-detail-date: #bcb9b0;
  --review-detail-side-padding: 8px;
  --profile-header-edit: #7b776b;
  --file-content-border: #cccac3;
  --file-content-background: #fff;
}



/* site */


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  background-color: var(--body-background);
  word-break: keep-all;

}

body>.site-body {
  flex: 1 1;
}

.site-header.only-logo {
  margin: 18px auto;
}

.site-header.navbar {
  background-color: var(--site-header-background);
  border-bottom: solid 10px #60749d;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.site-header .content,
.site-footer .content {
  margin: 0 auto;
  /* padding: 0px; */
}

.site-header .content {
  display: flex;
  height: 70px;
  justify-content: space-between;
}

.site-header .logo {
  display: flex;
  width: 200px;
  margin-top: 5px;
  margin-right: 10px;
  justify-content: space-between
}

.nav-item {
  margin-left: 20px;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.navbar-toggler {
  border: none;
  background: transparent;
  outline: none;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.navbar-toggler-icon {
  position: relative;
  top: 0;
  left: 10;
  transition: none !important;
}

.navbar-collapse {
  z-index: 1;
  margin-top: 3rem;
  width: 250px;
}

.navbar-collapse.show {
  margin-top: 3rem;
}

.nav {
  position: relative;
  display: flex;
  justify-content: center;
}

.site-body {
  width: 100%;
}

.site-footer {
  color: var(--site-footer);
  background-color: var(--site-footer-background);
}

.site-footer .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 95px;
}

.max-width {
  max-width: var(--max-width);
  width: 100%;
}

.max-content-width {
  max-width: var(--max-content-width);
  width: 100%;
}

.mbti-link {
  margin-bottom: 30px;
  font-size: 30px;
  color: white;
  text-decoration: none;
  transition: all .3s ease;
}

.mbti-link:hover {
  color: #39d9c8;
  transition: all .3s ease;
  text-decoration: none;
}

.mbti-link>span {
  position: relative;
  font-size: 30px;
}

.mbti-link>span::after {
  content: '';
  width: 0%;
  left: 50%;
  height: 1px;
  display: block;
  position: absolute;
  margin-top: 3px;
  border-bottom: 2px solid #39d9c8;
  transition: all .3s ease;
}

.mbti-link:hover>span::after {
  content: '';
  width: 100%;
  left: 0px;
  height: 1px;
  display: block;
  position: absolute;
  margin-top: 3px;
  border-bottom: 2px solid #39d9c8;
  transition: all .3s ease;
}

/* content-list */

.content-list {
  margin: 72px auto 340px;

}

.content-list .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 10px 25px 25px;
}

.content-list .header h2 {
  font-size: 22px;
  color: var(--content-list-sub-heading);
  margin: 0;
}

.content-list .contents {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 46px 40px;
}

@media (max-width: 300px) {
  .content-list .contents {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.content-list .contents .empty {
  margin: 120px auto;
  font-weight: bold;
  font-size: 20px;
  grid-column: span 2;

}

.content-list .contents>a:hover,
.content-list .contents>a:active {
  text-decoration: none;
}

.content-list .content {
  min-width: 260;
  border-radius: 10px;
  height: 260px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.content-list .content .thumb {
  display: block;
  height: 167px;
  background-position: center;
  background-size: cover;
}

.content-list .content .body {
  padding: 30px 25px;
}

.content-list .content .title {
  font-size: 22px;
  font-weight: normal;
  line-height: 33px;
  letter-spacing: -0.33px;
  margin: 11px 0 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content-list .content a {
  text-decoration: none;
}


.content-list .content .metadata {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-list .pagination {
  display: flex;
  justify-content: center;
  margin: 40px 0;
  padding: 0;
  list-style: none;
}

.content-list .pagination li~.content-list .pagination li {
  margin-left: 5px;
}

.content-list .pagination li {
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.content-list .pagination li.current {
  border-radius: 9px;
  background-color: var(--content-list-pagination-current-bg);
  color: var(--content-list-pagination-current);
}

.content-list .wrap-pagination {
  display: flex;
  align-items: center;
}

.content-list .wrap-pagination .backbutton {
  width: 220px;
}

.content-list .wrap-pagination .backbutton:only-child {
  margin-top: 40px;
}

.content-list .wrap-pagination .backbutton~.pagination {
  margin-right: 220px;
  flex-grow: 1;
}

/* main-header */

.main-header {
  /* margin-top: -70px; */
  border-bottom: 1px solid var(--main-header-border);
  background-color: var(--main-header-background);
}

.main-header .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: calc(100vh - 100px) !important;
  background: url('https://philshot0007.files.wordpress.com/2014/03/1308835431_3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* animation: movebg 5s linear infinite; */
}

/* @keyframes movebg{
  0% {background-position: 0 center;}
  100% {background-position: -500px center;}
} */
.main-header .content2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
}


.main-header .content>h1 {
  margin: 220px 10px 200px;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  letter-spacing: 15.4px;
  text-align: center;
  word-break: keep-all;
  color: var(--main-header);
  position: relative;
  z-index: 1;
}


/* review-detail */

.review-detail {
  margin: 80px auto 0px;
}

.review-detail .review-info {
  display: grid;
  grid-template: repeat(3, auto) / repeat(3, auto);
  grid-auto-flow: row;
  justify-content: space-between;
}

.review-detail .review-info>.restaurant-name {
  grid-column: span 3;
  margin: 0;
}

.review-detail .review-info>.title,
.review-detail .review-info>.date {
  margin-left: var(--review-detail-side-padding);
}

.review-detail .review-info>.author,
.review-detail .review-info>.review-rating {
  margin-right: var(--review-detail-side-padding);
}

.review-detail .review-info>.title {
  margin-top: 8px;
  margin-bottom: 5px;
  grid-column: span 2;
  font-size: 22px;
  font-weight: normal;
}

.review-detail .review-info>.date {
  grid-column: span 2;
  font-size: 14px;
  color: var(--review-detail-date);
}

.review-detail .review-info>.author {
  display: flex;
  justify-content: flex-end;
}

.review-detail .content {
  margin: 45px 0 80px;
}

.review-detail .content .thumb {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 1000px;
  max-height: 645px;
  margin: 0 auto;
}

.review-detail .content .thumb:not(:last-child) {
  margin-bottom: 30px;
}

.review-detail .content .content {
  margin: 30px var(--review-detail-side-padding) 28px;
  line-height: 1.82;
}

.review-detail .content .location {
  display: inline-flex;
  align-items: center;
  margin: var(--review-detail-side-padding);
  font-size: 18px;
  font-weight: bold;
}

.review-detail .content .location>img {
  margin-right: 5px;
}

.review-detail .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0;
  /* border-top: 1px solid var(--border); */
}

.review-detail .back-link {
  font-size: 20px;
}

.review-detail .footer .buttons> :not(:last-child) {
  margin-right: 8px;
}

/* review-form */

.review-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px 14px;
  margin: 85px auto 410px;
}

.review-form>.title,
.review-form>.rating,
.review-form>.content,
.review-form>.file,
.review-form>.buttons {
  grid-column: span 2;
}

.review-form>.restaurant-name,
.review-form>.restaurant-link {
  grid-column: span 1;
}

.form-control-content {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  height: 10em;
  resize: none;
}

.review-form>.rating label {
  margin: 0;
  display: inline-flex;
  align-items: center;
}

.review-form>.rating label>input {
  margin: 0 5px 0 0;
}

.review-form>.rating label:not(:first-child) {
  margin-left: 14px;
}

.review-form>.rating label:first-child {
  margin-left: 5px;
}

.review-form .content textarea {
  height: 526px;
  resize: none;
}

.review-form .file-content {
  display: flex;
  align-items: center;
  line-height: 2;
  font-size: 17px;
  letter-spacing: -0.3px;
  padding: 16px 24px;
  border: 1px solid var(--file-content-border);
  background-color: var(--file-content-background);
  border-radius: 7px;
}

.review-form .file-content input {
  font-size: 17px;
}

.review-form .file-content>img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 10px;
}

.review-form .buttons {
  display: flex;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.review-form .buttons>.cancel {
  flex-grow: 1;
}

.review-form .buttons>button[type="submit"] {
  flex-grow: 6;
  margin-left: 9px;
}

/* review-confirm-delete */



/* review-rating */

.review-rating {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.review-rating .text {
  margin-left: 8px;
  font-size: 17px;
}

/* //////////////////////////////////////// */
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]+label {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: -2px 10px 0 0;
  vertical-align: middle;
  background: url(/css/assets/checkbox-before.svg) left top no-repeat;
  cursor: pointer;
  background-size: cover;
}

input[type="checkbox"]:checked+label {
  background: url(/css/assets/checkbox-after.svg) -26px top no-repeat;
  background-size: cover;
}

#ai_feed_box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  width: 100%;
}

#ai_work_box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  width: 100%;
}

/* info modal */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}

.carousel-control-prev::before,
.carousel-control-next::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #60749d;
}

.carousel-control-prev::before {
  border-right: 3px solid;
  border-bottom: 3px solid;
  transform: rotate(135deg);
}

.carousel-control-next::before {
  border-right: 3px solid;
  border-top: 3px solid;
  transform: rotate(45deg);
}

.carousel-inner {
  padding: 0 15%;
  /* Adjust this value to your liking */
}

.cal_btn {
  background-color: #4e79ce;
}


/* kakao map */

.map_wrap,
.map_wrap * {
  margin: 0;
  padding: 0;
  font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
  font-size: 12px;
}

.map_wrap a,
.map_wrap a:hover,
.map_wrap a:active {
  color: #000;
  text-decoration: none;
}

.map_wrap {
  position: relative;
  width: 100%;
  height: 500px;
}

#menu_wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  margin: 10px 0 30px 10px;
  padding: 5px;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
  font-size: 12px;
  border-radius: 10px;
}

.bg_white {
  background: #fff;
}

#menu_wrap hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #5F5F5F;
  margin: 3px 0;
}

#menu_wrap .option {
  text-align: center;
}

#menu_wrap .option p {
  margin: 10px 0;
}

#menu_wrap .option button {
  margin-left: 5px;
}

#placesList li {
  list-style: none;
}

#placesList .item {
  position: relative;
  border-bottom: 1px solid #888;
  overflow: hidden;
  cursor: pointer;
  min-height: 65px;
}

#placesList .item span {
  display: block;
  margin-top: 4px;
}

#placesList .item h5,
#placesList .item .info {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#placesList .item .info {
  padding: 10px 0 10px 55px;
}

#placesList .info .gray {
  color: #8a8a8a;
}

#placesList .info .jibun {
  padding-left: 26px;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;
}

#placesList .info .tel {
  color: #009900;
}

#placesList .item .markerbg {
  float: left;
  position: absolute;
  width: 36px;
  height: 37px;
  margin: 10px 0 0 10px;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;
}

#placesList .item .marker_1 {
  background-position: 0 -10px;
}

#placesList .item .marker_2 {
  background-position: 0 -56px;
}

#placesList .item .marker_3 {
  background-position: 0 -102px
}

#placesList .item .marker_4 {
  background-position: 0 -148px;
}

#placesList .item .marker_5 {
  background-position: 0 -194px;
}

#placesList .item .marker_6 {
  background-position: 0 -240px;
}

#placesList .item .marker_7 {
  background-position: 0 -286px;
}

#placesList .item .marker_8 {
  background-position: 0 -332px;
}

#placesList .item .marker_9 {
  background-position: 0 -378px;
}

#placesList .item .marker_10 {
  background-position: 0 -423px;
}

#placesList .item .marker_11 {
  background-position: 0 -470px;
}

#placesList .item .marker_12 {
  background-position: 0 -516px;
}

#placesList .item .marker_13 {
  background-position: 0 -562px;
}

#placesList .item .marker_14 {
  background-position: 0 -608px;
}

#placesList .item .marker_15 {
  background-position: 0 -654px;
}

#pagination {
  margin: 10px auto;
  text-align: center;
}

#pagination a {
  display: inline-block;
  margin-right: 10px;
}

#pagination .on {
  font-weight: bold;
  cursor: default;
  color: #777;
}

/* 마이페이지 맵 */
.map-box {
  background-color: #D7F2FF;
  border-radius: 10px;
  float: right;
  grid-column: 3/6;
  grid-row: 1/6;
  margin-right: 40px;
}

.stamp-map {
  width: 650px;
  height: 600px;
  margin: 15px auto auto auto;
  border-radius: 10px;
}

.stamp-photo {
  width: 142px;
  height: 142px;
  margin: 2px 2px 2px 2px;
  /* border-radius: 10px; */

}

/* 필수요소 미작성시 */
.custom-class {
  border: 2px solid red !important;
  animation: shake 0.5s ease-in-out !important;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}


/* 로딩창 Css */
.fc-daygrid-day-frame {
  max-height: 50px;
  overflow-y: auto;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -60px 0 0 -60px;
  z-index: 2001;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.trash-toggle {
  background-color: #ECECEC;
  border-radius: 10px;
  padding: 3px 3px;
  width: 185px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.trash-toggle>button {
  background-color: #ECECEC;
  color: #000000;
  border: none;
  padding: 5px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

.trash-toggle>button.active {
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 10px;
}

select {
  background: url('https://freepikpsd.com/media/2019/10/down-arrow-icon-png-7-Transparent-Images.png') calc(100% - 5px) center no-repeat;
  background-size: auto;
  padding: 5px;
  border: 1px solid #485d86;
  border-radius: 4px;
  outline: 0 none;
  position: relative;
}

/* 토스트 css */
#toast {
  position: fixed;
  top: 10px;
  left: 50%;
  padding: 20px 25px;
  /* 박스 크기를 키움 */
  transform: translate(-50%, 10px);
  border-radius: 35px;
  /* 박스 모서리를 둥글게 만드는 데 사용하는 값 조절 */
  overflow: hidden;
  font-size: 1.1rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s, transform .5s;
  background: rgba(31, 79, 201, 0.764);
  color: #fff;
  z-index: 10000;
}

#toast.reveal {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0)
}

.allstamp {
  text-decoration: none;
}

.allstamp:hover {
  text-decoration: underline;
}

/*그리드*/

/* 메일 전송 로딩 */
.loading-spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

/* 메일 전송 로딩 */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.group-member {
  margin-top: 40px !important;
}

.add-member {
  transform: rotate(-90deg);
}

.delete-member {
  transform: rotate(-90deg);
}

.shortname {
  width: 135px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.shortname2 {
  width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.trash-content {
  /* margin-right: 10px; */
  padding-left: 5px;
}

.trash-item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}